{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as MyMacros %}

{% block body %}
    <h1>TwigLab</h1>
    <p>This is a project to practice about twig ... and symfony of course ^^.</p>
    <i>{{ 'now'|date('d m Y') }}</i>
    <hr>

    <b>Random posts</b>: {{ random(posts) }}

    {{ MyMacros.printPosts(posts, 'There is not any posts') }}

    <hr>
    
    {% set posts = null %}
    {{ MyMacros.printPosts(posts, 'There is not any posts .... other message') }}

    {{ include ('_footer.html.twig', {'bar':'foo'}) }}
    {# include ('_footer.html.twig') #}
{% endblock %}
