{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as MyMacros %}

{% macro MymacroInterna(bar) %}
    <br><b>{{ bar }}</b><br>
{% endmacro %}

{% block body %}
    <h1>TwigLab</h1>
    <p>This is a project to practice about twig ... and symfony of course ^^.</p>
    <i>{{ 'now'|date('d m Y') }}</i>
    <hr>

    <b>Random posts</b>: {{ random(posts) }}

    {{ MyMacros.printPosts(posts, 'There is not any posts') }}

    <hr>

    {% set posts = null %}
    {{ MyMacros.printPosts(posts, 'There is not any posts .... other message') }}

    {{ _self.MymacroInterna('foo')  }}

    {{ include ('_footer.html.twig', {'bar':'foo'}) }}
    {# include ('_footer.html.twig') #}

    {# include if exits #}
    {% include[
        '_aside-'~ category ~'.html.twig',
        '_aside-home.html.twig'
    ]  ignore missing  %}

{% endblock %}
